<% if user_signed_in? %>
    <div class="col-md-6 col-md-offset-3">
    <% @items.each do |item| %>
    
        <% if item.completed? %>
        
        <div class="row item">
            <div class="col-md-8">
                <h2 style="opacity: 0.5;" class="item-title"><strike><%= link_to item.title, item %></strike></h2>
                <p style="opacity: 0.5;" class="item-desc item-sub-title"><%= item.description %></p>
                <p style="opacity: 0.5;" class="time-ago item-sub-title">Completed <%= time_ago_in_words(item.completed_at) %> ago</p>
            </div>
            <div class="col-md-2">
                <p><%= link_to complete_item_path(item), method: :patch do %></p>
                    <i class="fa fa-lg fa-check"></i>
                <% end %>
            </div>
            
            <div class="col-md-2">
                <p><%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %></p>
                
                <i class="fa fa-lg fa-trash"></i>
                <% end %>
            </div>
            
        </div>
        <% else %>
        <div class="row item">
            <div class="col-md-8">
                <h2 class="item-title"><%= link_to item.title, item %></h2>
                <p class="item-desc item-sub-title"><%= item.description %></p>
                <p class="time-ago item-sub-title">Created <%= time_ago_in_words(item.created_at) %> ago</p>
            </div>
            
            <div class="col-md-2">
                <p><%= link_to complete_item_path(item), method: :patch do %></p>
                    <i class="fa fa-lg fa-check"></i>
                <% end %>
            </div>
            
            <div class="col-md-2">
                <p><%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %></p>
                
                <i class="fa fa-lg fa-trash"></i>
                <% end %>
            </div>
            
        </div>
        

    <% end %>
    <% end %>
    </div>
<% else %>
    <%= render 'layouts/static_landing_page' %>
<% end %>