<div class="jumbotron">
    <h1>Welcome to your checklist</h1>
    <p>Keep track of your stuff</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
</div>