<!DOCTYPE html>
<html>
<head>
  <title>Checklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/929d3eb706.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <%= link_to "Checklist", root_path, class: "navbar-brand" %>
          </div>
          <ul class="nav navbar-nav">
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% if current_user.present? %>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
              <% else %>
                 <li> <%= link_to "Log In", new_user_session_path %> </li>
              <% end %>
          </ul>
          <% if user_signed_in? %>
            <%= link_to "New Item", new_item_path, class: "navbar-text navbar-link navbar-right" %>
          <% end %>
      </div><!-- /.container-fluid -->
    </nav>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class="container">
<%= yield %>
</div>
</body>
</html>
